<!DOCTYPE html>
<html lang="en">
<!--------------------------------head-------------------------------->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght
  @0,100;0,400;0,900;1,100;1,400;1,900&display=swap" rel="stylesheet">
  <link href = "css/styles.css" rel = "stylesheet">
  <title>homepage/gameplay/leaderboard</title>
</head>
<!--------------------------------body-------------------------------->
<body>
<!--------------------------------navbar-------------------------------->
  <nav class = "nav_bar">
    <a href = "home" class = "main_logo">Home</a>
    <ul>
      <li><a href = "logout">Logout</a></li>
      <li><a href = "delete">Delete Account</a></li>
      <li><a href = "logs">Logs</a></li>
    </ul>
  </nav>
<!--------------------------------game-------------------------------->
  <section class="game">
    <!------Score Display------>
    <div class="score"> 
        <div class="playerScore">
            <h2>Player: 
              <%= loggedIn %> 
            </h2>
            <button class="post_score" method="POST">
              <input type="submit" value="post your score">
              <p class="p-count" id="p-count" name="p-count"></p>
              <p class="c-count" id="c-count" name="c-count"></p>
            </button>

    </div>
   
    <div class="move">Choose your move</div> 
     <!------player options------>
    <div class="options">
      <button class="rock">Rock</button>
      <button class="paper">Paper</button>
      <button class="scissor">Scissors</button>   
     
    <!------Display Winner------>
    <div class="result"></div>
    <div class="pChoice"></div>
    <div class="cpuChoice"></div>

  </section>
  <script src="scripts/rps.js"></script>

  <!--------------------------------leaderboard-------------------------------->
  <section class="leaderboard">
    <h1>LeaderBoard</h1>
    <ul>
      <% leader.forEach(function(dat) { %>
        User: <%= dat.UserName %>
        <br>
        Highest Score: <%= dat.Highest_Score%>
        <br>
        <br>
      <% }); %>
    </ul>
  </section>

</body>
</html>
