*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Urbanist', sans-serif;
  }
body{
    padding-top: 40%;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 3em;
}